
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h3{
  @apply text-black dark:text-gray-300 text-lg
}
h2{
  @apply text-black dark:text-gray-300
}

/* ID */

.filterSearchBar {
 background-image: url('/icons/MagnifyingGlass.png');
 background-position: right center;
 background-size: cover;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 9999;
  cursor: pointer;
  filter: greyscale(1);
}

.filterSearchBar:hover {
filter: greyscale(0);
}; 



/* Fonts */ 
@layer components{
.dmSans {
  font-family: 'DM Sans', sans-serif;
}
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

/* Classes */

.cardBackground {
  background: linear-gradient(175.54deg, rgba(2, 0, 14, 0.13) 9.38%, rgba(42, 34, 101, 0) 47.26%, rgba(15, 11, 44, 0.6) 92.77%);  
}

/*
input[type=range]:: -webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FFFFFF;
  cursor: pointer;
}
*/

/* Hero Section */
.bannerHeadlineMobile {  
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  /* or 150% */
  letter-spacing: -0.005em;
  color: #23262F;
  text-shadow: 0px 8px 16px rgba(51, 51, 51, 0.08);
}

.bannerHeadline {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 80px;
  font-size: 64px;
  letter-spacing: -0.005em;
  /* or 125% */
  text-shadow: 0px 8px 16px rgba(51, 51, 51, 0.08);
  color: #23262F;
}

.bannerDesc {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  /* identical to box height, or 129% */
  letter-spacing: -0.005em;
  color: #23262F;
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.26);
}

.hero-banner-image{
  z-index: -1;
  position: absolute;
  right: 0%;
  top: 0.25%;
  bottom: 25%;
  left: 0%;
}

/* Homepage Headline */
.homepageHeadline {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  /* identical to box height, or 146% */
  letter-spacing: -0.005em;
  color: #23262F;
}

.homepageDesc {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #84878B;
}

/* Homepage Cards */

.cardBackground {
  background: #FFFFFF;
}